<div class="row justify-content-center">
  <app-card
    *ngFor="let pet of matchService.petQueue"
    [choice]="pet.selection"
    [image]="pet.imageUrl"
    [name]="pet.name"
    (finished)="onFinished()">
  </app-card>
</div>

<div class="button-controls row justify-content-center">
  <div class="w-75 row justify-content-between">
    <a class="control dislike" (click)="dislike()"><i class="fa fa-times"></i></a>
    <a class="control like" (click)="like()"><i class="fa fa-heart"></i></a>
  </div>
</div>