.button-controls {
    margin-top: 2em;
}

.button-controls .control {
    display: block;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    border-radius: 1.5em;
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
    font-size: 4em;
}

.button-controls .control.like {
    color: #69de45;
}

.button-controls .control.dislike {
    color: #f26555;
}

.pets .card.liking {
    animation: 750ms ease-in-out like;
}

.pets .card.disliking {
    animation: 750ms ease-in-out dislike;
}

@keyframes like {
    0% {
        left: 0%;
    }
    70% {
        left: 100%;
    }
    100% {
        left: 100%;
    }
}

@keyframes dislike {
    0% {
        right: 0%;
    }
    70% {
        right: 100%;
    }
    100% {
        right: 100%;
    }
}