app-card {
    position: absolute;
}

app-card:last-of-type {
    position: relative;
}

app-card:first-of-type {
    z-index: 100;
}

app-card:nth-of-type(2) {
    z-index: 90;
}

.button-controls {
    margin-top: 3vh;
}

.button-controls .control {
    display: block;
    width: 13vh;
    height: 13vh;
    border-radius: 1.5em;
    border: 1px solid rgba(0,0,0,.125);
    text-align: center;
    line-height: 150%;
    font-size: 8vh;
}

.button-controls .control.like {
    color: #69de45;
}

.button-controls .control.dislike {
    color: #f26555;
}
