.messages {
    overflow-y: scroll;
    height: 80vh;
}

.message {
    display: flex;
    align-content: center;
    height: 20;
}

.message img {
    height: 4vh;
    width: 4vh;
    object-fit: cover;
    border-radius: 4vh;
}

.message p {
    background-color: #71c7ef;
    padding: 4px;
    margin-left: 10px;
    border-radius: 5px;
}
